<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">New Blog Post</div>
	<form class="ui form" action="/blogs" method="POST">
		<div class="field">
			<label>Blog Title</label>
			<input type="text" name="blog[title]" placeholder="Title">
		</div>
		<div class="field">
			<label>Image</label>
			<input type="text" name="blog[image]" placeholder="Image URL">
		</div>
		<div class="field">
			<label>Body</label>
			<textarea name="blog[body]" placeholder="Content..." required></textarea>
		</div>
		<button class="ui vertical animated button green" type="submit">
    		<div class="visible content">Save</div>
    		<div class="hidden content"><i aria-hidden="true" class="save icon"></i></div>
  		</button>
	</form>
</div>

<% include partials/footer %>